<%= form_with(model: t_amici) do |form| %>
  <% if t_amici.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(t_amici.errors.count, "error") %> prohibited this t_amici from being saved:</h2>

      <ul>
        <% t_amici.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cognome, style: "display: block" %>
    <%= form.text_field :cognome %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.text_field :telefono %>
  </div>

  <div>
    <%= form.label :instagram, style: "display: block" %>
    <%= form.text_field :instagram %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
