<div id="<%= dom_id t_amici %>">
  <p>
    <strong>Nome:</strong>
    <%= t_amici.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= t_amici.cognome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= t_amici.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= t_amici.telefono %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= t_amici.instagram %>
  </p>

</div>
